/*Setting the whole body to a white background and absolute position*/
body {
    background: white;
    margin: 0;
    padding: 0;
    position: absolute;
}

/*Setting links on top of page display inline*/
.topofpagelinks {
    padding: 0;
    display: inline;
}

/*Moving the top left links to the left*/
.topleftlinks {
    float: left;
}

/*Setting the menu bar to grey color*/
#sidemenubar {
    color: grey;
    margin-left: 5px; 
    margin-top: 2px; 

}

/*Styles for the ALL and IMAGES links*/
a.allandimages {
    font:15px   sans-serif, arial bolder;
    color: grey;
    word-spacing: 3px;
    text-decoration: none;
    margin: 0 8px;
}

/*Making the ALL and IMAGES links to have a blue border and blue text upon clicking on them*/
.allandimages:active, .allandimages:focus {
    color: rgb(53, 168, 221);
    border-bottom: 3px solid rgb(53, 168, 221);
    padding: 5px;
}



/*Moving the top right links to the right of the web page*/
.toprightlinks {
    float: right;
    margin-top: 2px;
}

/*Styles for google assistant icon/image*/
#googleassistant {
    margin-right: 10px;
    padding: 0;
}

/*Styles for the google apps icon*/
i#googleapps {
    color: grey;
    margin-right: 8px; 
}

/*Increasing the padding top of the gmail account profile picture*/
i#gmailaccount {
    padding-top: 1px;
}

/*Styling for google logo*/
#googlelogo {
    width: 350px;
    height: 220px;
    padding: 10px 10px 0 10px;
    margin: 100px 460px 0 460px;
}

/*Styles for  search bar*/
#searchbar {
    padding-left: 19px; /*Moving blinking cursor within input text-field to the right*/
    margin: 10px 200px 80px 404px; /*moving search bar to the center and closer to Google logo*/
    border-radius: 25px; /*making the rounded corners for the search bar*/
    border-width: 1px;
    border-style: solid;
    border-color: rgb(224, 223, 223);
    line-height: 45px; /*Increasing the height of the border/the space inside the border where user inputs text search */
}

/*Removing the blue border around search bar when it is clicked on*/
input[type="text"] {
    outline: none;
    
}









/*Styles for location text*/
p#location {
    color: grey;
    font: 15px sans-serif, arial;
    background-color: rgb(236, 231, 231);
    border-bottom: 1px solid rgb(202, 195, 195);
    padding: 15px 15px;
    margin: 50px 0 0 0;
    
}

/*Styles for the links on the bottom of the page*/
.bottomlinks {
    color: grey;
    font: 15px sans-serif, arial;
    background-color: rgb(233, 227, 227);
    padding: 15px 15px 13px 15px;
    margin: 0;
    text-align: center;
    line-height: 35px;
}

/*Word-spacing for Settings and Advertising links*/
#upperlink1, #bottomlink1 {
    word-spacing: 15px;
}

/*Spacing out the Privacy text from Terms and the same for Business text from About*/
#upperlink2 , #bottomlink2 {
    padding-right: 14px;
}



