/*Setting the whole body to a white background and absolute position*/
body {
    background: white;
    margin: 0;
    padding: 0;
    position: absolute;
}

/*Setting links on top of page display inline*/
.topofpagelinks {
    margin-left: 6px;
    padding: 0;
    display: inline;
}

/*Moving the top left links to the left*/
.topleftlinks {
    float: left;
}

/*Setting the menu bar to grey color*/
#sidemenubar {
    color: grey;
}

/**/
a.allandimages {
    font: 13px arial, sans-serif;
    color: grey;
    word-spacing: 3px;
    text-decoration: none;
}
