/*Setting the whole body to a white background and absolute position*/
body {
    background: white;
    margin: 0;
    padding: 0;
    position: absolute;
}

/*Setting links on top of page display inline*/
.topofpagelinks {
    padding: 0;
    display: inline;
}

/*Moving the top left links to the left*/
.topleftlinks {
    float: left;
}

/*Setting the menu bar to grey color*/
#sidemenubar {
    color: grey;
    margin-left: 5px; 
    margin-top: 2px; 

}

/*Styles for the ALL and IMAGES links*/
a.allandimages {
    font:15px  sans-serif, arial bolder;
    color: grey;
    word-spacing: 3px;
    text-decoration: none;
    margin: 0 8px;
}

/*Making the ALL and IMAGES links to have a blue border and blue text upon clicking on them*/
.allandimages:active, .allandimages:focus {
    color: rgb(53, 168, 221);
    border-bottom: 3px solid rgb(53, 168, 221);
    padding: 5px;
}

/*Moving the top right links to the right of the web page*/
.toprightlinks {
    float: right;
    margin-top: 2px;
}

/*Styles for google assistant icon/image*/
#googleassistant {
    margin-right: 10px;
    padding: 0;
}

/*Styles for the google apps icon*/
i#googleapps {
    color: grey;
    margin-right: 8px; 
}

/*Increasing the padding top of the gmail account profile picture*/
i#gmailaccount {
    padding-top: 1px;
}

/*Styling for google logo*/
#googlelogo {
    width: 350px;
    height: 220px;
    padding: 10px 10px 0 10px;
    margin: 100px 460px 0 460px;
}


